body {
    margin: 0px;
}

.list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page-wrapper {
	max-width: 860px;
	min-width: 320px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}